<body >


  <app-navbar></app-navbar>

  <main id="main" class="main" style="margin-left: 200px;"  >

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard" >
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row" style="width: 1200px;">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card" style="height: 160px;">
                <div class="card-body">
                  <h5 class="card-title">Demande compte</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{Acceptuser}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{userattentePercentage.toFixed(2) }}%</span> 

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- délivrées Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card" style="height: 160px;">
                <div class="card-body">
                  <h5 class="card-title">Cartes</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{carteCount}}</h6>
                      <span class="text-success small pt-1 fw-bold">{{ carteenattentePercentage.toFixed(2) }}%</span> <span class="text-muted small pt-2 ps-1">En Attente</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End délivrées Card -->

            <!-- Clients Card -->
            <div class="col-xxl-4 col-xl-12" >
              <div class="card info-card customers-card" style="height: 160px;">
                <div class="card-body">
                  <h5 class="card-title">Clients </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ userCount }}</h6>
                      <span class="text-success small pt-1 fw-bold">{{ groupUserPercentage.toFixed(2) }}%</span> 
                      <span class="text-muted small pt-2 ps-1"><span> group users</span></span>
                
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Clients Card -->

         

            <!-- Recent Sales -->
            <div class="col-12"  style="width: 1200px;">
              <div class="card recent-sales overflow-auto">
                <div class="card-body" >
                  <h5 class="card-title">Users</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom de l'entreprise</th>
                        <th scope="col">Numéro du compte</th>
                        <th scope="col">un groupe d'entreprise</th>
                        <th scope="col">nombre de sous entreprise</th>
                        <th scope="col">Action</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usr of listUsersNotAccepted; let i = index">
                        <th scope="row"><a href="#">#{{ i + 1 }}</a></th>
                        <td>{{ usr.entreprisename }}</td>
                        <td><a href="#" class="text-primary">{{ usr.numcompte }}</a></td>
                        <td>{{ usr.isAGroup }} </td>
                        <td><span class="badge bg-success">{{ usr.nbentreprise }}</span></td>
                        <td style="display: flex;">
                          <span class="badge bg-success" (click)="Accepter(usr.idUser)" style="cursor: pointer;">Accepter</span>
                          <span class="badge bg-danger" style="margin-left: 5px; cursor: pointer;">

                            <a (click)=" (usr.idUser)" style="color: inherit; text-decoration: none;">Réfuser </a>
                          </span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

         
          </div>
        </div><!-- End Left side columns -->

   

         
     
     
        