<body>
  <div class="topnav" style="display: flex;">
    <div>
      <img src="assets/img/Logo_STB.png" alt="Logo STB" loading="lazy" style="margin-top: -10px; margin-left: 40px;" class="logo" />
    </div>
    <div style="margin-left: 20px; display: flex;">
      <div *ngIf="!rh && !rhadmine && !admine && initiateur " style="margin-right: 28px;">
        <a class="active" href="#home">Accueil</a>
        <a href="demande" *ngIf="isconnected && initiateur">Demandes</a>
        <a type="button" *ngIf="isconnected && !admine" data-bs-toggle="modal" data-bs-target="#exampleModal">Liste des demandes</a>
        <a type="button" data-bs-toggle="modal" data-bs-target="#suivie" *ngIf="isconnected && !admine">Suivie</a>
      </div>
      <div *ngIf="!rh && !rhadmine && !admine &&  validateur" style="margin-right: 112px;">
        <a class="active" href="#home">Accueil</a>
        <a href="demande" *ngIf="isconnected && initiateur">Demandes</a>
        <a type="button" *ngIf="isconnected && !admine" data-bs-toggle="modal" data-bs-target="#exampleModal">Liste des demandes</a>
        <a type="button" data-bs-toggle="modal" data-bs-target="#suivie" *ngIf="isconnected && !admine">Suivie</a>
      </div>
      <div *ngIf="rhadmine" style="margin-right: 104px;">
        <a class="active" href="#home">Accueil</a>
        <a href="rhinterface">Ajouter User</a>
        <a href="rhsousentreprise" *ngIf="rhadmine">Ajouter Entreprise</a>
      </div>
      <div *ngIf="rh " style="margin-right: 220px;">
        <a class="active" href="#home">Accueil</a>
        <a href="rhsousentreprise" >Ajouter Entreprise</a>
      </div>
      <div *ngIf="admine" style="margin-right: 395px;">
        <a class="active" href="#home">Accueil</a>
      </div>
      <button class="button" *ngIf="!isconnected" (click)="register()">S'inscrire</button>
      <div *ngIf="isconnected" style="margin-top: 13px; margin-left: 682px; height: 100px;">
        <i (click)="notif()" *ngIf="!rh && !rhadmine && validateur" class="bi bi-bell" style="font-size: 1.5rem;"></i>
        <span (click)="notif()" *ngIf="!rh && !rhadmine && validateur" class="badge rounded-pill badge-notification" style="width: 15px; height: 15px; line-height: 10px; color: white; margin-left: -10px; margin-top: -55px; background-color: rgb(237, 13, 13);">
          {{count}}
        </span>
      </div>
      <div *ngIf="isconnected" style="margin-top: 15px;">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 15px;" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
        </svg>
        <svg (click)="logout()" xmlns="http://www.w3.org/2000/svg" style="margin-left: 15px; margin-right: 67px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
          <path d="M9 12h12l-3 -3" />
          <path d="M18 15l3 -3" />
        </svg>
      </div>
    </div>
  </div>
  
  <!-- Modal liste -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px; width: 300px;">
      <div class="modal-content drop">
        <a href="listedesdemandes" style="margin-top: 20px;">Liste initiale des demandes</a>
        <a href="listefianldesdemandes" *ngIf="validateur">Liste finale des demandes</a>
        <a href="suividemandes">Liste des demandes</a>
        <br />
      </div>
    </div>
  </div>

  <!-- Modal suivie -->
  <div class="modal fade" id="suivie" tabindex="-1" aria-labelledby="suivie" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px; width: 300px;">
      <div class="modal-content drop">
        <a href="suividemandes" style="margin-top: 20px;">Suivie des demandes</a>
        <a href="listeIdelevanceU">Suivie de délivrance</a>
        <a href="suiviD">Suivie des cartes</a>
        <br />
      </div>
    </div>
  </div>
</body>
