body {
    width: auto;}  
    small{
        color: red;
        margin-top: 5px;
    }
      /*card*/
    .back::before {
      position: absolute;
      content: ' ';
      display: block;
      width: 160px;
      height: 260%;
      background: linear-gradient(90deg, transparent, #0078c5, #0078c5, #0078c5, #0078c5, transparent);
      animation: rotation_481 5000ms infinite linear;
    }
    
    .back-content {
      position: absolute;
      width: 99%;
      height: 99%;
      background-color: #a8bee3;
      border-radius: 5px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    
    
    
    @keyframes rotation_481 {
      0% {
        transform: rotateZ(0deg);
      }
    
      0% {
        transform: rotateZ(360deg);
      }
    }
    
    .front {
      transform: rotateY(180deg);
      color: white;
    }
    
    .front .front-content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    
    
    
    
    
    .circle {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #0078c5;
      position: relative;
      filter: blur(15px);
      animation: floating 2600ms infinite linear;
    }
    
    
    
    /*card end*/
    .login__input {
        border: none;
        border-bottom: 2px solid #D1D1D4;
        background: none;
        padding: 10px;
        padding-left: 24px;
        font-weight: 700;
        width: 100%;
        transition: .2s;
        color: black;
    }
    /* Styles personnalisés pour Toastr */
    ::ng-deep .toast-error {
        background-color: #ffffff !important; /* Fond blanc */
        color: #ff3333 !important; /* Texte en rouge */
        border: 2px solid #ff3333 !important; /* Cadre rouge */
        border-radius: 8px !important; /* Coins arrondis */
        font-size: 16px !important; /* Taille de police plus grande */
        padding: 16px !important; /* Espacement intérieur */
        width: 400px !important; /* Largeur fixe */
        max-width: calc(100% - 40px) !important; /* Largeur maximale */
    }
    
    /* Centrer la notification */
    ::ng-deep .toast-custom {
        position: fixed !important; /* Position fixe pour centrer correctement */
        top: 50% !important; /* Ajuster la position verticale au centre */
        left: 50% !important; /* Ajuster la position horizontale au centre */
        transform: translate(-50%, -50%) !important; /* Centrer parfaitement */
    }
    
    /* Style de l'icône d'erreur */
    ::ng-deep .toast-custom .toast-icon {
        font-size: 24px; /* Taille de l'icône */
        margin-right: 12px; /* Marge à droite de l'icône */
        color: #ff3333; /* Couleur de l'icône en rouge */
    }
    /* Styles pour Toastr Success */
    ::ng-deep .toast-success {
        background-color: #ffffff !important; /* Fond blanc */
        color: #28a745 !important; /* Texte en vert */
        border: 2px solid #28a745 !important; /* Cadre vert */
        border-radius: 8px !important; /* Coins arrondis */
        font-size: 16px !important; /* Taille de police plus grande */
        padding: 16px !important; /* Espacement intérieur */
        width: 400px !important; /* Largeur fixe */
        max-width: calc(100% - 40px) !important; /* Largeur maximale */
    }
    
    /* Centrer la notification */
    ::ng-deep .toast-custom {
        position: fixed !important; /* Position fixe pour centrer correctement */
        top: 50% !important; /* Ajuster la position verticale au centre */
        left: 50% !important; /* Ajuster la position horizontale au centre */
        transform: translate(-50%, -50%) !important; /* Centrer parfaitement */
    }
    
    /* Style de l'icône de succès */
    ::ng-deep .toast-custom .toast-icon {
        font-size: 24px; /* Taille de l'icône */
        margin-right: 12px; /* Marge à droite de l'icône */
        color: #28a745; /* Couleur de l'icône en vert */
    }
    
    
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .containerr {
        margin-top: 27px;
        margin-left: 100px;
        width: 1120px;
       
    }
  
    .all{
        width: 76%;
        margin-top: 50px;
        margin-left: 170px;
        border-radius: 20px;
        box-shadow: -5px -5px 15px 5px rgba(177, 198, 237, 0.443), 5px 5px 15px 7px rgba(177, 198, 237, 0.443);
    }
    
    .container {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        gap: 5px;
        background-color: rgba(0, 110, 255, 0.041);
      }
      
      .header {
        flex: 1;
        width: 100%;
        border: 2px dashed royalblue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      .header svg {
        height: 100px;
      }
      
      .header p {
        text-align: center;
        color: black;
      }
      
      .footer {
        background-color: rgba(0, 110, 255, 0.075);
        width: 100%;
        height: 40px;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        border: none;
      }
      
      .footer svg {
        height: 130%;
        fill: royalblue;
        background-color: rgba(70, 66, 66, 0.103);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
      }
      
      .footer p {
        flex: 1;
        text-align: center;
      }
      
      #file {
        display: none;
      }
      
      
      .submit-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .submit-button  {
        padding: 10px 20px;
        font-size: 16px;
    }
    .login__submit {
        background: #fff;
        font-size: 14px;
        margin-top: 20px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 1px solid #D4D3E8;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-left: 400px;
        border: 1px solid #007ac596;
        color: #0078c5;
        box-shadow: 0px 2px 2px #0078c5;
        cursor: pointer;
        transition: .2s;
        width: 150px;
    
    }
    
    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        box-shadow: 0px 2px 2px #0078c5;
        outline: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
      }
      
      th, td {
        padding: 12px 15px;
      }
      
      th {
        background-color: #0567a4;
        color: #ffffff;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      
      tr:hover {
        background-color: #e0e0e0;
      }
      
      td {
        border-bottom: 1px solid #dddddd;
      }
      
      thead th {
        border-bottom: 2px solid #dddddd;
      }
      
      tbody tr:last-of-type td {
        border-bottom: none;
      }
      
      table a {
        color: #0078c5;
        text-decoration: underline;
      }
      
      table a:hover {
        color: #005f9e;
      }
      button {
        font-family: inherit;
        font-size: 20px;
        background:  #0078c5;
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
      }
      
      button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
      }
      
      button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      
      button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
      }
      
      button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
      }
      
      button:hover span {
        transform: translateX(5em);
      }
      
      button:active {
        transform: scale(0.95);
      }
      
      @keyframes fly-1 {
        from {
          transform: translateY(0.1em);
        }
      
        to {
          transform: translateY(-0.1em);
        }
      }
      