<div class="container">
	<div class="screen">
	  <div class="screen__content">
		<form class="login needs-validation" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
		  <div class="register-container">
			<img src="assets/img/Logo_STB.png" alt="Logo STB" class="logo">
		  </div>
		  <div style="display: flex;">
			<div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['entreprisename'].invalid && (inputForm.controls['entreprisename'].dirty || inputForm.controls['entreprisename'].touched), 'is-valid': inputForm.controls['entreprisename'].valid }">
				<i class="login__icon fas fa-user"></i>
				<input type="text" id="entreprisename" class="login__input_left" formControlName="entreprisename" placeholder="Nom Du L'entreprise">
				<span class="text-danger" *ngIf="inputForm.controls['entreprisename'].dirty && inputForm.hasError('required', 'entreprisename')">* entreprise name is required</span>
			  </div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['numcompte'].invalid && (inputForm.controls['numcompte'].dirty || inputForm.controls['numcompte'].touched), 'is-valid': inputForm.controls['numcompte'].valid }">
				<i class="login__icon fas fa-user"></i>
				<input type="text" id="numcompte" class="login__input_left" formControlName="numcompte" placeholder="Numéro du compte">
				<span class="text-danger" *ngIf="inputForm.controls['numcompte'].dirty && inputForm.hasError('required', 'numcompte')">* num compte is required</span>
			  </div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['tel'].invalid && (inputForm.controls['tel'].dirty || inputForm.controls['tel'].touched), 'is-valid': inputForm.controls['tel'].valid }">
				<i class="login__icon fas fa-user"></i>
				<input type="text" id="tel" class="login__input_left" formControlName="tel" placeholder="Phone number">
				<span class="text-danger" *ngIf="inputForm.controls['tel'].dirty && inputForm.hasError('required', 'tel')">* Phone number is required</span>
			  </div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['matriculeFiscale'].invalid && (inputForm.controls['matriculeFiscale'].dirty || inputForm.controls['matriculeFiscale'].touched), 'is-valid': inputForm.controls['matriculeFiscale'].valid }">
				<i class="login__icon fas fa-lock"></i>
				<input type="text" id="matriculeFiscale" class="login__input_left" formControlName="matriculeFiscale" placeholder="Matricule Fiscale">
				<span class="text-danger" *ngIf="!inputForm.controls['matriculeFiscale'].dirty && inputForm.hasError('required', 'matriculeFiscale')">*is required</span>
				<span class="text-danger" *ngIf="inputForm.controls['matriculeFiscale'].dirty && inputForm.hasError('required', 'matriculeFiscale')">* Matricule Fiscale is required</span>
			  </div>
			</div>
			<div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['email'].invalid && (inputForm.controls['email'].dirty || inputForm.controls['email'].touched), 'is-valid': inputForm.controls['email'].valid }">
				<i class="login__icon fas fa-user"></i>
				<input type="email" id="email" formControlName="email" class="login__input" placeholder="Email">
				<span class="text-danger" *ngIf="inputForm.controls['email'].dirty && inputForm.hasError('required', 'email')">* Email is required</span>
			  </div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['password'].invalid && (inputForm.controls['password'].dirty || inputForm.controls['password'].touched), 'is-valid': inputForm.controls['password'].valid }">
				<i class="login__icon fas fa-user"></i>
				<input type="password" id="password" formControlName="password" class="login__input" placeholder="Password">
				<span class="text-danger" *ngIf="inputForm.controls['password'].dirty && inputForm.hasError('required', 'password')">* Password is required</span>
			  </div>
			  <div class="login__field" [ngClass]="{ 'is-invalid': inputForm.controls['confirmpassword'].invalid && (inputForm.controls['confirmpassword'].dirty || inputForm.controls['confirmpassword'].touched), 'is-valid': inputForm.controls['confirmpassword'].valid }">
				<i class="login__icon fas fa-lock"></i>
				<input type="password" id="confirmpassword" formControlName="confirmpassword" class="login__input" placeholder="Confirm Password">
				<span class="text-danger" *ngIf="inputForm.controls['confirmpassword'].dirty && inputForm.hasError('required', 'confirmpassword')">* Confirm password is required</span>
			  </div>
			  <div class="login__field">
				<i class="login__icon fas fa-lock"></i>
				<select id="libelledecompte" class="login__input" formControlName="libelledecompte" (change)="onLibelleDeCompteChange($event)" required>
				  <option value="Initiateur">Initiateur</option>
				  <option value="Validateur">Validateur</option>
				  <option value="Consultation">Consultation</option>
				  <option value="BancaireEtranger">Bancaire Etranger</option>
				  <option value="SuperUtilisateur">Super Utilisateur</option>
				  <option value="SuperValidateur">Super Validateur</option>
				  <option value="Consultation + validation virement">Consultation + validation virement</option>
				  <option value="Consultation + Bancaire étranger">Consultation + Bancaire étranger</option>
				  <option value="Caissier">Caissier</option>
				</select>
			  </div>
			</div>
		  </div>
		  <button class="button login__submit" [disabled]="!inputForm.valid">
			<span class="button__text" style="margin-left: 55px;">Sign Up</span>
			<i class="button__icon fas fa-chevron-right"></i>
		  </button>
		</form>
		
	  </div>
	  <div class="screen__background">
		<span class="screen__background__shape screen__background__shape4"></span>
		<span class="screen__background__shape screen__background__shape3"></span>
		<span class="screen__background__shape screen__background__shape2"></span>
		<span class="screen__background__shape screen__background__shape1"></span>
	  </div>
	</div>
  </div>
  