/* Styles personnalisés pour Toastr */
::ng-deep .toast-error {
    background-color: #ffffff !important; /* Fond blanc */
    color: #ff3333 !important; /* Texte en rouge */
    border: 2px solid #ff3333 !important; /* Cadre rouge */
    border-radius: 8px !important; /* Coins arrondis */
    font-size: 16px !important; /* Taille de police plus grande */
    padding: 16px !important; /* Espacement intérieur */
    width: 400px !important; /* Largeur fixe */
    max-width: calc(100% - 40px) !important; /* Largeur maximale */
}

/* Centrer la notification */
::ng-deep .toast-custom {
    position: fixed !important; /* Position fixe pour centrer correctement */
    top: 50% !important; /* Ajuster la position verticale au centre */
    left: 50% !important; /* Ajuster la position horizontale au centre */
    transform: translate(-50%, -50%) !important; /* Centrer parfaitement */
}

/* Style de l'icône d'erreur */
::ng-deep .toast-custom .toast-icon {
    font-size: 24px; /* Taille de l'icône */
    margin-right: 12px; /* Marge à droite de l'icône */
    color: #ff3333; /* Couleur de l'icône en rouge */
}
/* Styles pour Toastr Success */
::ng-deep .toast-success {
    background-color: #ffffff !important; /* Fond blanc */
    color: #28a745 !important; /* Texte en vert */
    border: 2px solid #28a745 !important; /* Cadre vert */
    border-radius: 8px !important; /* Coins arrondis */
    font-size: 16px !important; /* Taille de police plus grande */
    padding: 16px !important; /* Espacement intérieur */
    width: 400px !important; /* Largeur fixe */
    max-width: calc(100% - 40px) !important; /* Largeur maximale */
}

/* Centrer la notification */
::ng-deep .toast-custom {
    position: fixed !important; /* Position fixe pour centrer correctement */
    top: 50% !important; /* Ajuster la position verticale au centre */
    left: 50% !important; /* Ajuster la position horizontale au centre */
    transform: translate(-50%, -50%) !important; /* Centrer parfaitement */
}

/* Style de l'icône de succès */
::ng-deep .toast-custom .toast-icon {
    font-size: 24px; /* Taille de l'icône */
    margin-right: 12px; /* Marge à droite de l'icône */
    color: #28a745; /* Couleur de l'icône en vert */
}


  
.login__field {
	position: relative;
  }
  
  .is-invalid input, .is-invalid select {
	border-color: red;
  }
  
  .is-valid input, .is-valid select {
	border-color: green;
  }
  .is-invalid {
	border-color: red;
  }
  
  .is-valid {
	border-color: green;
  }
  
  
  .invalid-feedback {
	color: red;
	font-size: 12px;
	position: absolute;
	top: 100%;
	left: 0;
  }
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
/* register.component.css */
.logo {
	width: 150px;
	height: auto;
	margin: 20px 0;
  }
  

body {
	background: linear-gradient(90deg, #cfe3ef, #0078c5);	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  margin-left: 320px;
}

.screen {		
	background: linear-gradient(90deg, #0078c5, #cfe3ef);		
	position: relative;	
	height: 620px;
	width: 660px;	
	box-shadow: 0px 0px 24px #007ac5c0;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
  margin-top: -160px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 920px;
	width: 920px;
	background: #FFF;	
	top: -135px;
	right: 140px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #0078c5;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #badbf0, #0078c5);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #0078c5;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 520px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #0078c5;
}

.login__input_left {
	border: none;
	border-bottom: 2px solid #d1d1d4d1;
	background: none;
	padding: 10px;
	padding-left: 14px;
	font-weight: 700;
	transition: .2s;
}
.login__input {
	border: none;
	border-bottom: 2px solid #d1d1d4d1;
	background: none;
	padding: 10px;
	padding-left: 14px;
	font-weight: 700;
	transition: .2s;
	margin-left: 50px;

}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #0078c5;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #007ac596;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	margin-left: 150px;
	color: #0078c5;
	box-shadow: 0px 2px 2px #0078c5;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #60b3e6;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
/*check box */
.material-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
  }
  
  .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #035587;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #0078c5;
    border-color: #012d48;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: 0 0 0 2px #007ac58c;
  }
  
  .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color: #0078c5;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: #41484d;
  }